body {
    color: green;
}

.marketing {
    h4 {
    	a {
        	color: $brand-warning;
          }
    }
    p {
        color: $brand-primary;
    }
}

.container .jumbotron {
    @include border-top-radius(0px);
    @include border-bottom-radius(50px);
}

@mixin simple-output-mixin() {
    color: $brand-primary;
    text-decoration: underline;
}

.my-content {
    @include simple-output-mixin();
}